# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.egg*
*.egg-info/
.installed.cfg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
cover
nosetests.xml
coverage.xml

# Sphinx documentation
/doc/_build/
/doc/doc

## Notebooks
.ipynb_checkpoints/
/.jupyter

## IDEs
# Eclipse/Liclipse
.pydevproject
.project
.settings
# PyCharm
.idea/
# VisualStudioCode ###
# See https://stackoverflow.com/questions/51876769/should-you-commit-vscode-symbols-file-to-source-control
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/*venv

# doit task-runner
.doit*

# Temporary-files
~*
*scratch*

*.log
